/*
 * *** You can say something about your file if you need it!
 * Template Name
 * Description
 * Vertion
 * Copyright
 * Author
 * Last Modified Date
 *
 */
/*-------------------------*/
/* $Catalog 
---------------------------*/
/** 
 * Header
 * Charge
 * faq
 * Footer
**/

/*-------------------------*/
/* $Header 
---------------------------*/
.header.bg{
    background-color: #F7F9FD;
    border-radius: 0px 0px 0px 300px;
    height: 470px;
    margin-bottom: 100px;
    .title{
        margin-top: 92px;
        position: absolute;
        top: 50%;
        transform: translateY(50%);
        h1{
            font-size: 48px;
            line-height: 70px;
            font-weight: 700;
            margin-bottom: 16px;
        }
        p{
            font-size: 16px;
            line-height: 24px;
        }
    }
    .img_box{
        width: 885px;
        height: 0;
        padding-top: 559px;
        position: absolute;
        top: 0;
        right: 0;
        .img{
            background-image: url('../images/img.svg');
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}
@media(max-width:767.98px){
    .header.bg{
        .img_box{
            width: 650px;
            padding-top: calc(650px * 559 / 885);
        }
    }
}
@media(max-width:575.98px){
    .header.bg{
        .title{
            position: absolute;
            top: 50%;
            transform: translateY(50%);
            h1{
                font-size: 32px;
                line-height: 46px;
                font-weight: 700;
            }
        }
        .img_box{
            width: 100%;
            padding-top: calc(100% * 495 / 375);
            margin-top: 75px;
            .img{
                background-image: url('../images/MaskGroup2.svg');
            }
        }
    }
}
/*-------------------------*/
/* $Charge 
---------------------------*/
.charge{
    text-align: center;
    margin-bottom: 100px;
    .bg{
        background-image: url('../images/bg3.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -267px 0;
        width: 361px;
        height: 361px;
        position: absolute;
        bottom: 105px;
        left: 0;
    }
    h2{
        font-size: 32px;
        line-height: 46px;
        font-weight: 700;
        margin-bottom: 48px;
    }
    ul.btn-group{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 54px;
        li{
            margin-right: 16px;
            &:nth-last-child(1){
                margin-right: 0;
            }
            margin-bottom: 16px;
            .btn{
                background-color: #fff;
                color: #56C4C5;
                border: 1px solid #56C4C5;
                transition: all 0.3s;
                &:hover{
                    background-color: #56C4C5;
                    color: #fff;
                    border: 1px solid #56C4C5;
                    transform: translateY(5px);
                }
                &.active{
                    background-color: #56C4C5;
                    color: #fff;
                    transform: translateY(5px);
                }
            }
        }
    }
    ul.program{
        li.content{
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 0px 2px 10px #00000014;
            border-radius: 12px;    
            margin-right: 16px;
            &:nth-child(2){
                margin-right: 0;
            }
            h3{
                font-size: 24px;
                line-height: 35px;
                font-weight: 700;
                padding: 10px 0;
                &::after{
                    content: "";
                    height: 1px;
                    width: 100%;
                    background-color: #00000014;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
            p.text{
                padding: 32px 0;
            }
            .operation{
                display: flex;
                justify-content: space-between;
                margin-bottom: 32px;
                padding: 0 29px;
                .digit,.twd{
                    width: 169px;
                    height: 108px;
                    background-color: #F5F5F5;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    border-radius: 12px;
                    P{
                        font-size: 12px;
                        line-height: 17px;
                        margin-bottom: 8px;
                    }
                    .num{
                        color: #56C4C5;
                        span{
                            font-family: 'Comfortaa';
                            font-size: 32px;
                            line-height: 35px;
                        }
                        sub{
                            font-size: 12px;
                            line-height: 17px;
                        }
                    }
                }
                .twd{
                    .num{
                        color: #221E1F;
                    }
                }
                p{
                    line-height: 108px;
                    font-size: 29px;
                    margin: 0 17px;
                }
            }
            ul.features{
                text-align: left;
                padding: 0 29px;
                li{
                    display: flex;
                    margin-bottom: 16px;
                    .checkmark_box{
                        width: 20px;
                        padding-top: 16px;
                        height: 0;
                        margin-right: 13px;
                        .checkmark{
                            background-image: url('../images/checkmark-outline.svg');
                            background-size: cover;
                            background-repeat: no-repeat;
                            width: 100%;
                            height: 100%;
                            max-width: 100%;
                            max-height: 100%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                        }
                    }
                }
            }
            a{
                display: inline-block;
                background-color: #56C4C5;
                color: #fff;
                font-size: 18px;
                border: 1px solid #56C4C5;
                border-radius: 27px;
                margin-top: 16px ;
                margin-bottom: 32px;
            }    
        }
    }
}
@media(max-width:767.98px){
    .charge{
        margin-bottom: 60px;
        margin-left: 16px;
        margin-right: 20px;
        padding-top: 60px;
        .bg{
            background-position: -108px 0;
            width: 204px;
            height: 204px;
            position: absolute;
            bottom: 400px;
            left: -16px;
        }
        h2{
            font-size: 28px;
            line-height: 40px;
            margin-bottom: 24px;
        }
        ul.btn-group{
            
            margin-bottom: 32px;
            li{
                margin-right: 6px;
                margin-bottom: 10px;
            }
        }
        ul.program{
            li.content{
                margin-right: 0px;
                margin-bottom: 24px;
                h3{
                    padding: 16px 0;
                }
                p.text{
                    padding: 16px 0;
                }
                .operation{
                    margin-bottom: 27px;
                    padding: 0 16px;
                    .digit,.twd{
                        width: 139px;
                        height: 89px;
                        .num{
                            span{
                                font-size: 28px;
                                line-height: 32px;
                            }
                        }
                    }
                    p{
                        line-height: 89px;
                        font-size: 24px;
                        margin: 0 6px;
                    }
                }
                ul.features{
                    padding: 0 16px;
                    li{
                        margin-bottom: 16px;
                        .checkmark_box{
                            width: 16px;
                            padding-top: 14px;
                            height: 0;
                            margin-right: 16px;
                        }
                        p{
                            font-size: 14px;
                            line-height: 20px;
                        }
                    }
                }
                a{
                    margin-top: 24px ;
                    margin-bottom: 24px;
                }
            }
        }
    }
}

/*-------------------------*/
/* $faq 
---------------------------*/
.faq{
    text-align: center;
    margin-bottom: 100px;
    h2{
        text-align: center;
        font-size: 32px;
        line-height: 46px;
        font-weight: 700;
        margin-bottom: 48px;
    }
    button{
        outline: 0;
        width: 100%;
        text-align: left;
        margin-bottom: 16px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 2px 10px #00000014;
        border-radius: 12px;
        border: 0;
        padding: 16px 32px;
        .subtitle{
            display: flex;
            justify-content: space-between;
            align-items: center;
            h3{
                font-size: 18px;
                line-height: 28px;
            }
        }
        .plus{
            transition: all 0.2s;
            span{
                height: 2px;
                width: 20px;
                background-color: #56C4C5;
                &:nth-child(2){
                    transform: rotate(90deg) translateX(-2px);
                }
            }
        }
        .faq_text{
            line-height: 32px;
            color: #747474;
            margin-top: 24px;
        }
    }
}
@media(max-width:575.98px){
    .faq{
        margin-bottom: 60px;
        h2{
            font-size: 28px;
            line-height: 40px;
            font-weight: 700;
            margin-bottom: 32px;
        }
        ul{
            li{
                button{
                    padding: 16px;
                    .subtitle{
                        h3{
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }
                    .plus{
                        span{
                            height: 2px;
                            width: 16px;
                        }
                    }
                    .faq_text{
                        line-height: 32px;
                        color: #747474;
                        margin-top: 16px;
                    }
                }
            }
        }
    }
}
.faq_active{
    color: #56C4C5;
    font-weight: 700;
}
.d_block{
    display: block;
}
.d_none{
    display: none;
}
.r-180{
    transform: rotate(180deg);
}
/*-------------------------*/
/* $Footer 
---------------------------*/
.copyright{
    width: 100%;
    background-color: #F5F5F5;
    text-align: center;
    margin: 0;
    padding: 16px;
}